<a href="https://colab.research.google.com/github/baschram/bda-718-group-1/blob/master/Fleet%20Logistic%20Regression%20Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
%%bash
# Need to install pyspark
# if pyspark is already installed, will print a message indicating pyspark already isntalled
pip install pyspark
pip install seaborn

Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/f0/26/198fc8c0b98580f617cb03cb298c6056587b8f0447e20fa40c5b634ced77/pyspark-3.0.1.tar.gz (204.2MB)
Collecting py4j==0.10.9
  Downloading https://files.pythonhosted.org/packages/9e/b6/6a4fb90cd235dc8e265a6a2067f2a2c99f0d91787f06aca4bcf7c23f3f80/py4j-0.10.9-py2.py3-none-any.whl (198kB)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py): started
  Building wheel for pyspark (setup.py): finished with status 'done'
  Created wheel for pyspark: filename=pyspark-3.0.1-py2.py3-none-any.whl size=204612243 sha256=b4c2cccd9e8af079b04fba9344167374939b4301cf2cba69b34c5baff65d3001
  Stored in directory: /root/.cache/pip/wheels/5e/bd/07/031766ca628adec8435bb40f0bd83bb676ce65ff4007f8e73f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.0.1
Requirement already satisfied: seaborn in /usr/local/lib/python3.6/dist-packages (0.11.0)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.6/dist-packages (from seaborn) (1.18.5)
Requirement already satisfied: matplotlib>=2.2 in /usr/local/lib/python3.6/dist-packages (from seaborn) (3.2.2)
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.6/dist-packages (from seaborn) (1.1.4)
Requirement already satisfied: scipy>=1.0 in /usr/local/lib/python3.6/dist-packages (from seaborn) (1.4.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=2.2->seaborn) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=2.2->seaborn) (2.8.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=2.2->seaborn) (1.3.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=2.2->seaborn) (2.4.7)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23->seaborn) (2018.9)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from cycler>=0.10->matplotlib>=2.2->seaborn) (1.15.0)

In [2]:
%matplotlib inline
from pyspark.sql import SparkSession
from pyspark.sql import SQLContext
from pyspark.ml import feature
import re
from pyspark.sql import functions as fn
from pyspark.sql.functions import col, regexp_replace, split
from pyspark.sql.utils import AnalysisException
from pyspark.sql import Row
from pyspark.sql.types import IntegerType, DateType, FloatType, BooleanType
import os
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

spark = SparkSession \
  .builder \
  .master("local[*]")\
  .config("spark.memory.fraction", 0.8) \
  .config("spark.executor.memory", "12g") \
  .config("spark.driver.memory", "12g")\
  .config("spark.memory.offHeap.enabled",'true')\
  .config("spark.memory.offHeap.size","12g")\
  .getOrCreate()
sc = spark.sparkContext
sqlContext = SQLContext(sc)

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
sampled_df = spark.read.format("csv").option("header", "true").option('inferSchema','true').load("drive/Shared drives/IST 718 Group1/sampled_used_cars_data_nodesc.csv")

# EDA: Duplicate Data Removal
sampled_df = sampled_df.distinct()

# Drop the index column
# Drop exterior color ,power, and wheel system displacement (redundant columns)
# Drop Bed height (no values)
sampled_df = sampled_df.drop(*['power','main_picture_url',
                               'combine_fuel_economy', 'listing_id',
                               'vehicle_damage_category','trimId',
                               'trim_name','exterior_color','wheel_system_display','bed_height','power','is_certified'])

# Generate of list of column names for future use
colList = sampled_df.columns
numColList = []
catColList = []

#Needs to occur prior to data type casting as the loop will convert columns back to strings
for x in sampled_df.columns:
  sampled_df = sampled_df.withColumn(x, regexp_replace(col(x),r'--',''))
  sampled_df = sampled_df.withColumn(x, regexp_replace(col(x),r'None',''))

#Column cleaning and type casting

#Function to check if column exists or not
def has_column(df, col):
    try:
        df[col]
        return True
    except AnalysisException:
        return False

sampled_df = sampled_df.withColumn('back_legroom',
                                   regexp_replace(col('back_legroom'),r'\sin',''))
sampled_df = sampled_df.withColumn('front_legroom',
                                   regexp_replace(col('front_legroom'),r'\sin',''))
sampled_df = sampled_df.withColumn('front_legroom',fn.translate('front_legroom','0',''))
sampled_df = sampled_df.withColumn('height',
                                   regexp_replace(col('height'),r'\sin',''))
sampled_df = sampled_df.withColumn('length',
                                   regexp_replace(col('length'),r'\sin',''))
sampled_df = sampled_df.withColumn('wheelbase',
                                   regexp_replace(col('wheelbase'),r'\sin',''))
sampled_df = sampled_df.withColumn('width',
                                   regexp_replace(col('width'),r'\sin',''))
sampled_df = sampled_df.withColumn('bed_length',
                                   regexp_replace(col('bed_length'),r'\sin',''))
sampled_df = sampled_df.withColumn('engine_cylinders',
                                   regexp_replace(col('engine_cylinders'),'[a-zA-Z]',''))
#Remove all digits from engine type
sampled_df = sampled_df.withColumn('engine_type',
                                   regexp_replace(col('engine_type'),r'\d',''))
#Remove all alphabet characters following space
sampled_df = sampled_df.withColumn('engine_type',
                                   regexp_replace(col('engine_type'),r'\s[a-zA-Z]*',''))
sampled_df = sampled_df.withColumn('maximum_seating',
                                   regexp_replace(col('maximum_seating'),r'\sseats',''))
sampled_df = sampled_df.withColumn('fuel_tank_volume',
                                   regexp_replace(col('fuel_tank_volume'),r'\sgal',''))
sampled_df = sampled_df.withColumn('major_options',
                                   regexp_replace(col('major_options'),r"[\[]'",''))
sampled_df = sampled_df.withColumn('major_options',
                                   regexp_replace(col('major_options'),r"'[\]]",''))
sampled_df = sampled_df.withColumn('major_options',
                                   regexp_replace(col('major_options'),r"'",''))
sampled_df = sampled_df.withColumn('transmission_display',
                                   regexp_replace(col('transmission_display'),r"\D*",''))

sampled_df = sampled_df.withColumn('city',fn.lower(fn.col('city')))
sampled_df = sampled_df.withColumn('interior_color',fn.lower(fn.col('interior_color')))
sampled_df = sampled_df.withColumn('listing_color',fn.lower(fn.col('listing_color')))
sampled_df = sampled_df.withColumn('make_name',fn.lower(fn.col('make_name')))
sampled_df = sampled_df.withColumn('model_name',fn.lower(fn.col('model_name')))
sampled_df = sampled_df.withColumn('sp_name',fn.lower(fn.col('sp_name')))

#Decompose Torque column 
if has_column(sampled_df, 'torque'):
  split_torque = split(sampled_df['torque'],r'\slb-ft\s@')
  sampled_df = sampled_df.withColumn('torque_ftlb',split_torque.getItem(0))
  sampled_df = sampled_df.withColumn('torque_rpm',split_torque.getItem(1))
  #Drop now redundant torque column
  sampled_df = sampled_df.drop('torque')

#Remove all non digit charaters
sampled_df = sampled_df.withColumn('torque_rpm',
                                   regexp_replace(col('torque_rpm'),'\D*',''))
#Calculate new torque grade column
sampled_df = sampled_df.withColumn('torque_grade',
                                   sampled_df.torque_ftlb/sampled_df.torque_rpm)


#Recast column data types


#Integer type loop
integer_cols = ['engine_displacement','engine_cylinders','daysonmarket','horsepower','maximum_seating','mileage','owner_count','savings_amount','transmission_display','year','torque_ftlb','torque_rpm']
for i in integer_cols:
  sampled_df = sampled_df.withColumn(i, sampled_df[i].cast(IntegerType()))

#FloatType loop
float_cols = ['back_legroom','front_legroom','city_fuel_economy','bed_length','fuel_tank_volume','latitude','height','highway_fuel_economy','length','longitude','price','seller_rating','wheelbase','width','torque_grade']
for i in float_cols:
  sampled_df = sampled_df.withColumn(i, sampled_df[i].cast(FloatType()))

#DateType Loop
date_cols = ['listed_date']
for i in date_cols:
  sampled_df = sampled_df.withColumn(i, sampled_df[i].cast(DateType()))

#Boolean Loop
bool_cols = ['fleet','frame_damaged','franchise_dealer','has_accidents','isCab','is_cpo','is_new','is_oemcpo','salvage','theft_title']
for i in bool_cols:
  sampled_df = sampled_df.withColumn(i, sampled_df[i].cast(BooleanType()))

#NA Handeling

#Set empty booleans values to false (assume no report = negative condition)
sampled_df = sampled_df.na.fill(False, bool_cols)

sampled_df = sampled_df.na.fill(0, "back_legroom")
sampled_df = sampled_df.na.fill('Gasoline', "fuel_type")
sampled_df = sampled_df.na.fill('SUV / Crossover', "body_type")
sampled_df = sampled_df.na.fill(' ', "major_options")


sampled_df = sampled_df.na.fill('A', "transmission")
#Consolidate Dual clutch transmissions into automatic category
sampled_df = sampled_df.withColumn('transmission',fn.when(col('transmission') == 'Dual Clutch','A').otherwise(col('transmission')))
    #fn.translate('transmission',"Dual Clutch",'A'))

sampled_df = sampled_df.na.fill('FWD', "wheel_system")
#Consolidate Wheel system type 4x2 in RWD drive category
sampled_df = sampled_df.withColumn('wheel_system',fn.translate('wheel_system',"4X2","RWD"))

#Use Spark imputer transform to replace NAs with median values of specified columns
median_replace_col = ['owner_count','engine_cylinders','engine_displacement','horsepower','maximum_seating','mileage','transmission_display','torque_ftlb','torque_rpm','torque_grade']
na_replace_with_median = feature.Imputer(strategy='median', inputCols=median_replace_col, outputCols=median_replace_col).fit(sampled_df)
sampled_df = na_replace_with_median.transform(sampled_df)

#Use Spark imputer transform to replace NAs with mean values of specified columns
mean_replace_col = ['city_fuel_economy','front_legroom','fuel_tank_volume','highway_fuel_economy','seller_rating','wheelbase','height','length','width']
na_replace_with_mean = feature.Imputer(strategy='mean', inputCols=mean_replace_col, outputCols=mean_replace_col).fit(sampled_df)
sampled_df = na_replace_with_mean.transform(sampled_df)

#Conditional engine type fill if cylinders =6-12 then v type, if < 6 I type
sampled_df = sampled_df.withColumn('engine_type',fn.when(col('engine_cylinders').isin([6,8,10,12]) & fn.isnull(col('engine_type')),'V').otherwise(col('engine_type')))
sampled_df = sampled_df.withColumn('engine_type',fn.when((col('engine_cylinders') < 6) & fn.isnull(col('engine_type')),'I').otherwise(col('engine_type')))
#Any remaining engine_type NAs get filled in with I
sampled_df = sampled_df.na.fill('I', "engine_type")

In [ ]:
df_agg = logreg_sampled_df.agg(*[fn.count(fn.when(fn.isnull(c), c)).alias(c) for c in logreg_sampled_df.columns])
df_agg.show()

+------------+------+----------+---------+------+----+-----------------+------------+----------+----------------+-------------------+-----------+------+-------------+----------------+--------------+-------------+----------------+---------+-------------+------+--------------------+----------+--------------+------+------+------+---------+--------+------+-----------+-------------+---------+-------------+---------+---------------+-------+----------+-----------+-----+-------+--------------+-------------+-----+-------+-----------+------------+--------------------+------------+---------+-----+----+-----------+----------+------------+---------+----------------+---------------+--------------+-----------+-----------+------+-------------+--------------+-----------+------------+
|back_legroom|   bed|bed_length|body_type| cabin|city|city_fuel_economy|daysonmarket|dealer_zip|engine_cylinders|engine_displacement|engine_type| fleet|frame_damaged|franchise_dealer|franchise_make|front_legroom|fuel_tank_volume|fuel_type|has_accidents|height|highway_fuel_economy|horsepower|interior_color| isCab|is_cpo|is_new|is_oemcpo|latitude|length|listed_date|listing_color|longitude|major_options|make_name|maximum_seating|mileage|model_name|owner_count|price|salvage|savings_amount|seller_rating|sp_id|sp_name|theft_title|transmission|transmission_display|wheel_system|wheelbase|width|year|torque_ftlb|torque_rpm|torque_grade|sp_name_x|interior_color_x|listing_color_x|wheel_system_x|fuel_type_x|body_type_x|city_x|engine_type_x|transmission_x|make_name_x|model_name_x|
+------------+------+----------+---------+------+----+-----------------+------------+----------+----------------+-------------------+-----------+------+-------------+----------------+--------------+-------------+----------------+---------+-------------+------+--------------------+----------+--------------+------+------+------+---------+--------+------+-----------+-------------+---------+-------------+---------+---------------+-------+----------+-----------+-----+-------+--------------+-------------+-----+-------+-----------+------------+--------------------+------------+---------+-----+----+-----------+----------+------------+---------+----------------+---------------+--------------+-----------+-----------+------+-------------+--------------+-----------+------------+
|       48421|596126|    516116|     2742|587309|   0|            98380|           0|         0|           20098|              34488|      20098|285964|       285964|               0|        113708|        35009|           32041|    16536|       285964| 31846|               98380|     34488|             0|285964|563490|     0|   572936|       0| 31843|     599998|            0|        0|        39648|        0|          31847|  28743|         0|     304030|    0| 285964|             0|         8178|   22|      0|     285964|       12764|              358478|       29426|    31836|31845|   0|     103534|    103534|      103534|        0|               0|              0|             0|          0|          0|     0|            0|             0|          0|           0|
+------------+------+----------+---------+------+----+-----------------+------------+----------+----------------+-------------------+-----------+------+-------------+----------------+--------------+-------------+----------------+---------+-------------+------+--------------------+----------+--------------+------+------+------+---------+--------+------+-----------+-------------+---------+-------------+---------+---------------+-------+----------+-----------+-----+-------+--------------+-------------+-----+-------+-----------+------------+--------------------+------------+---------+-----+----+-----------+----------+------------+---------+----------------+---------------+--------------+-----------+-----------+------+-------------+--------------+-----------+------------+

In [4]:
from pyspark.ml import feature
from pyspark.ml import Pipeline

#Convert categorical columns to numeric values with string indexer.  Use freqency as sorting value as no ordinal strucutre
#Create list of all categorical columns used in model
categorical_col_input = ['body_type','city','engine_type','fuel_type','interior_color','listing_color','make_name','model_name','sp_name','transmission','wheel_system']
#Create transformed column names by adding _x
categorical_col_output = [i + '_x' for i in categorical_col_input]
#Convert strings to category numbers
categorical_feature = feature.StringIndexer(inputCols=categorical_col_input, outputCols=categorical_col_output)

#Convert boolean columns to integer to change from booleans to 0 and 1
#create list of boolena columns
bool_cols_input = ['fleet','frame_damaged','franchise_dealer','has_accidents','isCab','is_cpo','is_new','is_oemcpo','salvage','theft_title']
#Iterate through list and cast to integer type
for i in bool_cols_input:
  sampled_df = sampled_df.withColumn(i, sampled_df[i].cast(IntegerType()))

#Create preprocessing pipline with 
logreg_preprocessing = Pipeline(stages=[categorical_feature]).fit(sampled_df)
logreg_sampled_df= logreg_preprocessing.transform(sampled_df)

In [5]:
#Classifier imports and dataset split
from pyspark.ml.classification import LogisticRegression
from pyspark.ml.classification import RandomForestClassifier
from pyspark.ml.evaluation import BinaryClassificationEvaluator
from pyspark.ml.tuning import ParamGridBuilder

training_df, validation_df, testing_df = logreg_sampled_df.randomSplit([0.6, 0.3, 0.1], seed=0)

In [7]:
#logistical Regression with Grid Search
enable_grid = False

#Create list of feature columns for use in vector assemeble
#Pull all column names from transformed DF
colList = logreg_sampled_df.columns
#Remove original categorical columns
feature_cols = [i for i in colList if i not in categorical_col_input]
#Remove unneeded columns (bed and cabin columns only apply to trucks, dealer_zip format is inconsistent (5 or 9 digits) fleet is target, isCab is derivative of fleet, sp_id incomplete)
for i in ['bed','bed_length','cabin','dealer_zip','fleet','franchise_make','isCab','major_options','sp_id','listed_date']:
  feature_cols.remove(i)

#Second preprocessing step to create feature vector and scale so feature coeffcients can be compared for importance
lr_va = feature.VectorAssembler(inputCols=feature_cols, outputCol='features')

scaler = feature.StandardScaler(withMean=True, inputCol='features')

logreg_preprocessing_2 = Pipeline(stages=[lr_va, scaler])

if enable_grid:
  lr = LogisticRegression(labelCol='fleet',featuresCol='features')

  grid = ParamGridBuilder().\
  addGrid(lr.regParam, [0., 0.01, 0.02, 0.03]).\
  addGrid(lr.elasticNetParam, [0., 0.1, 0.3]).\
  build()

  lr_pipe = Pipeline(stages = [logreg_preprocessing_2,lr])

  all_models = []
  for j in range(len(grid)):
    print("Fitting model {}".format(j+1))
    model = lr_pipe.fit(training_df, grid[j])
    all_models.append(model)
      
  scores =[]
  for m in all_models:
    score_lr_pipe_1 = BinaryClassificationEvaluator(labelCol='fleet',metricName = 'areaUnderROC').evaluate(m.transform(validation_df))
    scores.append(score_lr_pipe_1)
        
  print(max(scores), '\n', grid[scores.index(max(scores))])

#Feature Inference
  if enable_grid:
    abs_feature_scores = [abs(i) for i in all_models[scores.index(max(scores))].stages[-1].coefficients.toArray().tolist()]
    df_col = ['feature','weight']
    abs_coeffs_df = spark.createDataFrame(data=zip(feature_cols,abs_feature_scores),schema = df_col)

    lr_important_features = abs_coeffs_df.sort(fn.desc('weight')).limit(10).toPandas()

    display(lr_important_features)

    feature_scores = all_models[scores.index(max(scores))].stages[-1].coefficients.toArray().tolist()
    coeffs_df = spark.createDataFrame(data=zip(feature_cols,feature_scores),schema = df_col)

    lr_features_pos = coeffs_df.sort(fn.desc('weight')).limit(10).toPandas()
    lr_features_neg = coeffs_df.sort('weight').limit(10).toPandas()

    display(lr_features_pos)
    display(lr_features_neg)
  pass

In [ ]:
#LR Optimized Model
alpha_par = 0
lambda_par = 0

lr = LogisticRegression(labelCol='fleet',featuresCol='features',regParam=lambda_par, elasticNetParam=alpha_par)

lr_pipe = Pipeline(stages = [logreg_preprocessing_2,lr])

opt_lr = lr_pipe.fit(training_df)

score_lr_pipe_1 = BinaryClassificationEvaluator(labelCol='fleet',metricName = 'areaUnderROC').evaluate(opt_lr.transform(validation_df))

In [9]:
print(score_lr_pipe_1)

abs_feature_scores = [abs(i) for i in opt_lr.stages[-1].coefficients.toArray().tolist()]
df_col = ['feature','weight']
abs_coeffs_df = spark.createDataFrame(data=zip(feature_cols,abs_feature_scores),schema = df_col)

lr_important_features = abs_coeffs_df.sort(fn.desc('weight')).limit(10).toPandas()

display(lr_important_features)

feature_scores = opt_lr.stages[-1].coefficients.toArray().tolist()
coeffs_df = spark.createDataFrame(data=zip(feature_cols,feature_scores),schema = df_col)

lr_features_pos = coeffs_df.sort(fn.desc('weight')).limit(10).toPandas()
lr_features_neg = coeffs_df.sort('weight').limit(10).toPandas()

display(lr_features_pos)
display(lr_features_neg)

0.870723966921146

            feature    weight
0            is_new  4.332909
1           salvage  1.056380
2      torque_grade  0.978642
3  franchise_dealer  0.579552
4       owner_count  0.537648
5         is_oemcpo  0.417045
6            is_cpo  0.337024
7   maximum_seating  0.313247
8       theft_title  0.285991
9     frame_damaged  0.205917

                feature    weight
0           owner_count  0.537648
1             is_oemcpo  0.417045
2       maximum_seating  0.313247
3           theft_title  0.285991
4         frame_damaged  0.205917
5  transmission_display  0.186181
6           body_type_x  0.079960
7          back_legroom  0.023380
8                 width  0.015712
9  highway_fuel_economy  0.005407

            feature    weight
0            is_new -4.332909
1           salvage -1.056380
2      torque_grade -0.978642
3  franchise_dealer -0.579552
4            is_cpo -0.337024
5     has_accidents -0.159835
6    transmission_x -0.155868
7    wheel_system_x -0.124528
8     seller_rating -0.114108
9     engine_type_x -0.100678

In [10]:
logreg_sampled_df.describe().show()

+-------+-----------------+-----+-----------------+-----------+-----------+--------+-----------------+------------------+-----------------+-----------------+-------------------+-----------+-------------------+--------------------+-------------------+--------------+-----------------+------------------+---------+-------------------+-----------------+--------------------+------------------+-----------------+------------------+-------------------+-------------------+--------------------+-----------------+-----------------+-------------+------------------+-------------+---------+------------------+------------------+------------------+-----------------+------------------+--------------------+-----------------+-----------------+------------------+--------------------+--------------------+------------+--------------------+------------+------------------+------------------+------------------+------------------+------------------+-------------------+-----------------+------------------+------------------+------------------+-------------------+------------------+-----------------+-------------------+-------------------+-----------------+------------------+
|summary|     back_legroom|  bed|       bed_length|  body_type|      cabin|    city|city_fuel_economy|      daysonmarket|       dealer_zip| engine_cylinders|engine_displacement|engine_type|              fleet|       frame_damaged|   franchise_dealer|franchise_make|    front_legroom|  fuel_tank_volume|fuel_type|      has_accidents|           height|highway_fuel_economy|        horsepower|   interior_color|             isCab|             is_cpo|             is_new|           is_oemcpo|         latitude|           length|listing_color|         longitude|major_options|make_name|   maximum_seating|           mileage|        model_name|      owner_count|             price|             salvage|   savings_amount|    seller_rating|             sp_id|             sp_name|         theft_title|transmission|transmission_display|wheel_system|         wheelbase|             width|              year|       torque_ftlb|        torque_rpm|       torque_grade|        sp_name_x|  interior_color_x|   listing_color_x|    wheel_system_x|        fuel_type_x|       body_type_x|           city_x|      engine_type_x|     transmission_x|      make_name_x|      model_name_x|
+-------+-----------------+-----+-----------------+-----------+-----------+--------+-----------------+------------------+-----------------+-----------------+-------------------+-----------+-------------------+--------------------+-------------------+--------------+-----------------+------------------+---------+-------------------+-----------------+--------------------+------------------+-----------------+------------------+-------------------+-------------------+--------------------+-----------------+-----------------+-------------+------------------+-------------+---------+------------------+------------------+------------------+-----------------+------------------+--------------------+-----------------+-----------------+------------------+--------------------+--------------------+------------+--------------------+------------+------------------+------------------+------------------+------------------+------------------+-------------------+-----------------+------------------+------------------+------------------+-------------------+------------------+-----------------+-------------------+-------------------+-----------------+------------------+
|  count|           599998| 3872|            83882|     599998|      12689|  599998|           599998|            599998|           599998|           599998|             599998|     599998|             599998|              599998|             599998|        486290|           599998|            599998|   599998|             599998|           599998|              599998|            599998|           599998|            599998|             599998|             599998|              599998|           599998|           599998|       599998|            599998|       599998|   599998|            599998|            599998|            599998|           599998|            599998|              599998|           599998|           599998|            599976|              599998|              599998|      599998|              599998|      599998|            599998|            599998|            599998|            599998|            599998|             599998|           599998|            599998|            599998|            599998|             599998|            599998|           599998|             599998|             599998|           599998|            599998|
|   mean|34.89984083350977| null|72.32459353547942|       null|       null|    null| 22.7077597171143| 76.10546201820672|50683.76169268003|5.087281957606526| 2938.2509608365363|       null|0.11191037303457678|0.004968349894499648| 0.8117410391367971|          null|35.41249248710385|18.596716766600426|     null|0.08038026793422645|65.85699181570386|   29.49218137946314|247.53597345324485|20302.30188679245|0.0958419861399538|0.06084686948956496| 0.4913966379887933|0.045103483678278926|36.98208850532671|193.6605432401078|         null|-90.63666363585857|         null|     null| 5.449401498004994|29859.074530248436|1597.8020671361933|1.261235870786236|29943.769228959765|0.003473344911149704|552.0181517271724| 4.27172862911143|233140.04218668747|                null|0.001758339194463...|        null|   6.335454451514838|        null| 115.3023222826382| 78.36534147994458|2017.7420024733415|263.80525435084786|3590.7677542258475|0.10021348603638598|5485.087118623729| 366.7302791009303| 2.503266677555592| 0.761914206380688|0.20808236027453425|1.1371354571181904|624.7889909633033|0.44992816642722144|0.18559561865206217|7.008466694888983| 81.16458888196294|
| stddev|10.77979093706776| null|9.380614532700573|       null|       null|    null|8.084578395254299|108.86033738540897|27346.82368176883|1.456084070205977| 1313.8654484957558|       null| 0.3152564148224995|  0.0703112624926405|0.39091914664679406|          null|14.43145528224599|5.3074828366852005|     null|0.27188123079842275|7.351382991909871|  7.1297055027031595|  87.8682029283275| 48058.7743531833|0.2943746664721528|0.23904941582074812|0.49992639328954264| 0.20753127769243238|5.001275563752286|  19.685574516569|         null|13.892705208811028|         null|     null|1.1472019063025878| 44408.06329091042| 765.6960222014467|0.695952682093045|19395.843179159514| 0.05883269970949871|1104.484068311596|0.508399459004794|132333.62215725135|                null| 0.04189570817122222|        null|  0.9921335298415636|        null|14.120103715951224|7.4584598054931694| 4.184484243128306| 108.8388025262585| 1155.001884779349|0.11122387929196623| 5103.72425421329|1624.7576792151071|2.1934993091821906|0.8034904511840856|   0.71959442147467|1.6333969518611944|755.9811148110103| 0.5446406794153098| 0.4283032006741981|7.460677803695168|108.73246794773323|
|    min|              0.0| Long|             41.5|Convertible|   Crew Cab| hayward|              8.0|                 0|       08816-4351|                2|                700|          H|                  0|                   0|                  0|         Acura|              4.0|               1.9|Biodiesel|                  0|             43.5|                10.0|                67|                 |                 0|                  0|                  0|                   0|          18.3988|            106.1|        black|          -157.913|             |    acura|                 2|                 0|          1 series|                1|             165.0|                   0|                0|              1.0|            100004|	 dijie auto sale...|                   0|           A|                   1|         AWD|              73.5|              42.5|              1923|                68|               200|        0.015111111|              0.0|               0.0|               0.0|               0.0|                0.0|               0.0|              0.0|                0.0|                0.0|              0.0|               0.0|
|    max|             47.5|Short|             98.6|      Wagon|Regular Cab|zumbrota|            127.0|              2979|            99403|               12|               8400|          W|                  1|                   1|                  1|         smart|             67.0|              63.5|  Propane|                  1|            117.6|               127.0|               808|              zj/|                 1|                  1|                  1|                   1|          48.9237|            290.0|       yellow|          -66.0785|  Z71 Package|   willys|                15|           1225238|            zephyr|               16|         2000000.0|                   1|           147414|              5.0|             99978|   zwains auto sales|                   1|           M|                  10|         RWD|             201.0|             109.0|              2021|               935|              7500|                1.0|          24606.0|           16298.0|              14.0|               2.0|                7.0|               8.0|           4481.0|                4.0|                2.0|             79.0|            1178.0|
+-------+-----------------+-----+-----------------+-----------+-----------+--------+-----------------+------------------+-----------------+-----------------+-------------------+-----------+-------------------+--------------------+-------------------+--------------+-----------------+------------------+---------+-------------------+-----------------+--------------------+------------------+-----------------+------------------+-------------------+-------------------+--------------------+-----------------+-----------------+-------------+------------------+-------------+---------+------------------+------------------+------------------+-----------------+------------------+--------------------+-----------------+-----------------+------------------+--------------------+--------------------+------------+--------------------+------------+------------------+------------------+------------------+------------------+------------------+-------------------+-----------------+------------------+------------------+------------------+-------------------+------------------+-----------------+-------------------+-------------------+-----------------+------------------+

In [ ]:
enable_grid_search = True
if enable_grid_search:
  #Create list of feature columns for use in vector assemeble
  #Pull all column names from transformed DF
  rf_colList = logreg_sampled_df.columns
  #Remove original categorical columns
  rf_feature_cols = [i for i in colList if i not in categorical_col_input]
  #Remove unneeded columns (bed and cabin columns only apply to trucks, dealer_zip format is inconsistent (5 or 9 digits) fleet is target, isCab is derivative of fleet, sp_id incomplete)
  for i in ['bed','bed_length','cabin','dealer_zip','fleet','franchise_make','isCab','major_options','sp_id','listed_date','sp_name_x','interior_color_x']:
    rf_feature_cols.remove(i)

  paramGrid = ParamGridBuilder().\
  addGrid(rf.numTrees, [20,30,40]).\
  addGrid(rf.maxDepth, [3,5,7]).\
  build()

  rf_va = feature.VectorAssembler(inputCols=rf_feature_cols, outputCol='features')

  rf = RandomForestClassifier(featuresCol='features', labelCol='fleet', maxBins=4482)

  all_models = []
  for j in range(len(paramGrid)):
    print("Fitting model {}".format(j+1))
    model = lr_pipe.fit(training_df, paramGrid[j])
    all_models.append(model)
      
  scores =[]
  for m in all_models:
    score_lr_pipe_1 = BinaryClassificationEvaluator(labelCol='fleet',metricName = 'areaUnderROC').evaluate(m.transform(validation_df))
    scores.append(score_lr_pipe_1)
        
  print(max(scores), '\n', grid[scores.index(max(scores))])
  pass

Fitting model 1

In [14]:
#Random Forest
#Create list of feature columns for use in vector assemeble
#Pull all column names from transformed DF
rf_colList = logreg_sampled_df.columns
#Remove original categorical columns
rf_feature_cols = [i for i in colList if i not in categorical_col_input]
#Remove unneeded columns (bed and cabin columns only apply to trucks, dealer_zip format is inconsistent (5 or 9 digits) fleet is target, isCab is derivative of fleet, sp_id incomplete)
for i in ['bed','bed_length','cabin','dealer_zip','fleet','franchise_make','isCab','major_options','sp_id','listed_date','sp_name_x','interior_color_x']:
  rf_feature_cols.remove(i)

#Second preprocessing step to create feature vector and scale so feature coeffcients can be compared for importance
rf_va = feature.VectorAssembler(inputCols=rf_feature_cols, outputCol='features')

rf = RandomForestClassifier(featuresCol='features', labelCol='fleet', maxBins=4482)

rf_pipe = Pipeline(stages = [rf_va,rf]).fit(training_df)

score_rf = BinaryClassificationEvaluator(labelCol='fleet',metricName = 'areaUnderROC').evaluate(rf_pipe.transform(validation_df))

score_rf

0.9278407953346188

In [17]:
pd.DataFrame(list(zip(feature_cols, rf_pipe.stages[-1].featureImportances.toArray())),
            columns = ['column', 'weight']).sort_values('weight', ascending=False)

                  column    weight
30                  year  0.191449
24        savings_amount  0.160780
20               mileage  0.130957
21           owner_count  0.101168
42        transmission_x  0.099180
14                is_new  0.074162
41         engine_type_x  0.057105
38           fuel_type_x  0.053975
22                 price  0.026943
6       franchise_dealer  0.019415
28             wheelbase  0.013043
19       maximum_seating  0.012965
33          torque_grade  0.011148
16              latitude  0.009741
31           torque_ftlb  0.005874
36       listing_color_x  0.004388
10                height  0.004073
32            torque_rpm  0.003961
37        wheel_system_x  0.003652
17                length  0.003200
1      city_fuel_economy  0.002181
29                 width  0.002101
12            horsepower  0.001817
13                is_cpo  0.001301
9          has_accidents  0.001027
18             longitude  0.000986
0           back_legroom  0.000799
11  highway_fuel_economy  0.000663
5          frame_damaged  0.000606
26           theft_title  0.000355
27  transmission_display  0.000354
4    engine_displacement  0.000351
2           daysonmarket  0.000216
35      interior_color_x  0.000049
25         seller_rating  0.000014
15             is_oemcpo  0.000004
23               salvage  0.000000
34             sp_name_x  0.000000
8       fuel_tank_volume  0.000000
39           body_type_x  0.000000
40                city_x  0.000000
7          front_legroom  0.000000
3       engine_cylinders  0.000000

In [15]:
comp_score_rf = BinaryClassificationEvaluator(labelCol='fleet',metricName = 'areaUnderROC').evaluate(rf_pipe.transform(testing_df))
comp_score_lr_pipe_1 = BinaryClassificationEvaluator(labelCol='fleet',metricName = 'areaUnderROC').evaluate(opt_lr.transform(testing_df))

print('Random Forrest ROC Score:',comp_score_rf,"\nLinear Regression ROC Score:",comp_score_lr_pipe_1)

Random Forrest ROC Score: 0.9290332464103839
Linear Regression ROC Score: 0.8709508733787451

With scaled features, grid search gets best result with alpha = 0  and lambda =0.  Score is 0.8734250189723907, worst score is 0.84

In [ ]:
scores
#coeffs_df.show()

[0.8734250189723907,
 0.8731998973761991,
 0.8715029385810065,
 0.8704625808525013,
 0.8662412558560946,
 0.8653974858404606,
 0.8656830841648188,
 0.8619957365483409,
 0.8549239827919557,
 0.8621483614994883,
 0.8553235819888318,
 0.8404882635975588]

In [ ]:
tokenizer = feature.Tokenizer().setInputCol('major_options').setOutputCol('words')

cv = feature.CountVectorizer(minTF=1., minDF=5)\
  .setInputCol("words")\
  .setOutputCol("tf")

idf = feature.IDF().\
    setInputCol('tf').\
    setOutputCol('tfidf')

if enable_grid:
  lr_options = LogisticRegression(labelCol='fleet',featuresCol='tfidf')

  grid_options = ParamGridBuilder().\
  addGrid(lr.regParam, [0., 0.01, 0.02, 0.03]).\
  addGrid(lr.elasticNetParam, [0., 0.1, 0.3]).\
  build()

  lr_pipe_options = Pipeline(stages = [tokenizer,cv,idf,lr_options]).fit(training_df)

  all_models = []
  for j in range(len(grid)):
    print("Fitting model {}".format(j+1))
    model = lr_pipe_options.fit(training_df, grid_options[j])
    all_models.append(model)
      
  scores =[]
  for m in all_models:
    score_lr_pipe_options = BinaryClassificationEvaluator(labelCol='fleet',metricName = 'areaUnderROC').evaluate(m.transform(validation_df))
    scores.append(score_lr_pipe_options)
        
  print(max(scores), '\n', grid_options[scores.index(max(scores))])
  pass

In [ ]:
score_lr_pipe

0.8731230343206494

In [ ]:
score_lr_pipe_options

0.7479094502499525